@font-face {
    font-family: 'Nexa-Replica-Ru';
    src: url('../fonts/Nexa-Replica-RU.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

:root {
    /* Background colors */
    --black: #000;
    --dark-grey: #121313;
    --light-grey: #3c3c3c;
    --skills-grey: #3b3b3b;

    /* accent colors */
    --orange: #fa6a37;
    --night-blue: #305bf1;
    --light-yellow: #efd28d;
    --grey-accent: #636363;

    /* langs progresses */
    --width-cs: 80%;
    --width-cpp: 50%;
    --width-python: 50%;
    --width-jsts: 75%;
    --width-java: 70%;
    --width-sql: 80%;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img,
ion-icon,
a,
button,
time {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input,
textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

html {
    font-family: 'Inter-Regular';
}

body {
    background: var(--black);
}

/*-----------------------------------*\
  #DYNAMIC
\*-----------------------------------*/

.animated-section-background {
    animation: background-color-change 1s;
}

@keyframes background-color-change {
    0% {
        background-color: var(--dark-grey);
    }
    100% {
        background-color: var(--light-grey);
    }
}

/*-----------------------------------*\
  #GLOBALS
\*-----------------------------------*/

.flex-center-wrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-flex-container {
    margin: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.accent-span-text {
    color: var(--orange);
    font-family: 'Inter-Bold';
}

.accent-italic-span-text {
    color: var(--grey-accent);
    font-style: italic;
}

.formatted-text {
    margin-bottom: 10px;
}

span {
    display: inline;
}

/*-----------------------------------*\
  #THEME SWITCHER
\*-----------------------------------*/

.theme-switcher {
    background-color: var(--dark-grey);
    width: 110px;
    height: 45px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.theme-switcher_button {
    width: 50%;
}

.switch-icon {
    margin: auto;
}

.theme-switcher .light:hover {
    animation: move-shadow-light 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes move-shadow-light {
    0% {
        filter: drop-shadow(0px 0px var(--light-yellow));
        -webkit-filter: drop-shadow(0px 0px var(--light-yellow));
    }
    50% {
        filter: drop-shadow(0px 2px var(--light-yellow));
        -webkit-filter: drop-shadow(0px 2px var(--light-yellow));
    }
    100% {
        filter: drop-shadow(0px 4px var(--light-yellow));
        -webkit-filter: drop-shadow(0px 4px var(--light-yellow));
    }
}

.theme-switcher .dark:hover {
    animation: move-shadow-dark 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes move-shadow-dark {
    0% {
        filter: drop-shadow(0px 0px var(--night-blue));
        -webkit-filter: drop-shadow(0px 0px var(--night-blue));
    }
    50% {
        filter: drop-shadow(0px -2px var(--night-blue));
        -webkit-filter: drop-shadow(0px -2px var(--night-blue));
    }
    100% {
        filter: drop-shadow(0px -4px var(--night-blue));
        -webkit-filter: drop-shadow(0px -4px var(--night-blue));
    }
}

/*-----------------------------------*\
  #Aside Briefly
\*-----------------------------------*/

.briefly-sidebar {
    width: min-content;
    display: flex;
    flex-direction: column;
}

.briefly-container {
    border-radius: 35px;
    background-color: var(--dark-grey);
    max-width: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.briefly-header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.separator {
    width: 95%;
    height: 1px;
    background: white;
    margin: 10px 0;
}

.accent-text {
    font-family: 'Nexa-Replica-Ru';
    letter-spacing: 2px;
}

.speciality {
    color: var(--orange);
    font-weight: 400;
    font-size: 1em;
    padding: 5px;
}

.fullname {
    padding: 5px;
    color: white;
    font-size: 3.5em;
    font-weight: 600;
}

.reference {
    display: flex;
    margin: 2px;
}

.refs-list {
    margin: 8px;
}

.refs-list img {
    max-width: 25px;
    margin-right: 5px;
}
/* refs styles */

a {
    color: #fff;
    text-decoration: none;

    display: inline-block;
    position: relative;
    padding: 5px;
}

a.reference:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff63;
    transition: width 0.5s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a.reference:hover:after {
    width: 100%;
    left: 0;
}

.categories-list {
    width: 100%;
    margin-top: 20px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.category-button {
    background-color: var(--dark-grey);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: white;
    grid-column: auto;
}

.category-button:hover {
    animation-name: category-button-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes category-button-animation {
    0% {
        background-color: var(--dark-grey);
    }
    100% {
        background-color: var(--orange);
    }
}

/*-----------------------------------*\
  # Articles (Content Part)
\*-----------------------------------*/

div.articles-container {
    height: 85vh;
    overflow-y: scroll;
}

.articles-container {
    border-radius: 35px;
    margin-right: 30;
    color: white;
    background-color: var(--dark-grey);
}

.article-section {
    margin: 20px;
}

.article-header {
    font-weight: 700;
    font-family: 'Inter-Bold';
    margin-bottom: 5px;
}

.article-content-text {
    font-family: 'Inter-Regular';
    font-weight: 400;
    text-align: justify;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Inter-Bold';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.skill {
    width: max-content;
    padding: 10px;
    margin: 10px;
    border-radius: 35px;
    background-color: var(--skills-grey);
    color: var(--orange);
    text-align: center;
}

p.skill {
    text-align: center;
}

/*-----------------------------------*\
  # Articles (Knowledge degree of prog langs)
\*-----------------------------------*/

.langs-skills-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.lang-info {
    display: grid;
    align-items: center;
    grid-template-columns: 100px auto;
}

.lang-name {
    font-size: 1em;
    font-weight: 400;
}

.lang-name-double {
    font-size: 0.9em;
    font-weight: 500;
}

.blue-second-text {
    color: var(--night-blue);
}

.lang-knowledge-degree-container {
    background-color: var(--light-grey);
    height: 1.5rem;
    border-radius: 0 35px 35px 0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
}

.knowledge-degree__single {
    border-radius: 0 35px 35px 0;
    background-color: var(--orange);
    height: 100%;
    width: 0;
}

.knowledge-degree__single.cs {
    animation: load-degree-cs 2s normal forwards;
}
.knowledge-degree__single.cpp {
    animation: load-degree-cpp 2s normal forwards;
}
.knowledge-degree__single.python {
    animation: load-degree-python 2s normal forwards;
}
.knowledge-degree__double.jsts {
    animation: load-degree-jsts 2s normal forwards;
}
.knowledge-degree__single.java {
    animation: load-degree-java 2s normal forwards;
}
.knowledge-degree__single.sql {
    animation: load-degree-sql 2s normal forwards;
}

.knowledge-degree__double {
    border-radius: 0 35px 35px 0;
    background-color: var(--orange);
    background: linear-gradient(var(--orange) 0%, var(--night-blue) 100%);
    height: 100%;
    width: 0;
    animation: load-degree 2s normal forwards;
}

@keyframes load-degree-cs {
    0% {
        width: 0;
    }
    100% {
        width: var(--width-cs);
    }
}

@keyframes load-degree-cpp {
    0% {
        width: 0;
    }
    100% {
        width: var(--width-cpp);
    }
}

@keyframes load-degree-python {
    0% {
        width: 0;
    }
    100% {
        width: var(--width-python);
    }
}

@keyframes load-degree-jsts {
    0% {
        width: 0;
    }
    100% {
        width: var(--width-jsts);
    }
}

@keyframes load-degree-java {
    0% {
        width: 0;
    }
    100% {
        width: var(--width-java);
    }
}

@keyframes load-degree-sql {
    0% {
        width: 0;
    }
    100% {
        width: var(--width-sql);
    }
}

/*-----------------------------------*\
  # Articles (Education)
\*-----------------------------------*/

a.accent-span-text {
    display: inline;
}

a.reference-content:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--orange);
    transition: width 0.5s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a.reference-content:hover:after {
    width: 100%;
    left: 0;
}

/*-----------------------------------*\
  # Articles (Hobbies)
\*-----------------------------------*/

.hobby-element {
    display: flex;
    align-items: center;
}

p.hobby-name {
    color: var(--orange);
}

.hobbies-flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
